.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    align-items: center;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background-color: #fff;
    border: none;
    width: 250px;
}
.registerButton{
    padding: 10px;
    margin-top: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #fff;

}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 100px;
    padding: 13px;
    color: #fff;
}
